$font-family1: 'Roboto', sans-serif;
$color : #FF6231 ;
$font-family2:'Darker Grotesque', sans-serif;


// =========responsive =====
$button_phone: 300px;
$mobile:576px;
$medium : 768px;
$desktop:992px;
$largedesktop : 1200px;