.get_part{
    .container{
        display: flex;
        flex-direction: column;
        row-gap: 39px;
        .headline{
            display: flex;
            flex-direction: column;
           align-items: center;
           row-gap: 30px;
            .dot{
             display: flex;
             column-gap: 15px;
             color: red;
            }
            h3{
                text-align: center;
                @include font2(50px , 600 , black);
            }
        }
   .box_get{
    display: flex;
    justify-content: space-between;
    .second{
        margin: 0 20px;
    }
    .col-lg-4{
        padding: 36px 18px 49px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .text{
         p{
             @include font2(28px , 600 , black);
         }
         span{
             @include font(16px , 400 , #888888);
         }
        }
     }
   }
    }
}